<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesamiento de XML</title>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            
        </div>
        <nav>
           <ul class="nav-links">
                <li><a onclick="limpiarTextareas()">Limpiar Textareas</a></li>
                <li><a onclick="limpiarDatos()">Limpiar Datos (Reset)</a></li>
                <li><a href="lista">Peticiones</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Ayuda ▾</a>
                    <div class="dropdown-content">
                        <a href="https://drive.google.com/drive/folders/1lrTn5pfudh6RjHzkmCvf51c6ISUDMqED?usp=sharing">Documentación</a>
                        <a href="https://github.com/jRodas497">Acerca de...</a>
                    </div>
                </li>
           </ul>            
        </nav>
        <a class="btn" href="#"><button>a</button></a>
    </header>

    <div class="form-container">
        <form class="centered-form" method="post" enctype="multipart/form-data" id="cargar-form">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 10px;">
                    <h2>Archivo Original</h2>
                    <textarea id="archivo" name="archivo" rows="20" cols="50">{{ contenido }}</textarea>
                </div>
                <div style="flex: 1; margin-left: 10px;">
                    <h2>Archivo Resultante</h2>
                    <textarea id="archivo_resultante" name="archivo_resultante" rows="20" cols="50"></textarea>
                </div>
            </div>
            <input type="file" name="archivo" onchange="mostrarContenidoArchivo(event)">
            <button type="submit">Cargar</button>
        </form>
    </div>

    <div class="form-container">
        <form class="centered-form" method="post" enctype="multipart/form-data" id="prueba-mensaje-form">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 10px;">
                    <h2>Prueba de Mensaje Original</h2>
                    <textarea id="prueba_mensaje" name="prueba_mensaje" rows="20" cols="50"></textarea>
                </div>
                <div style="flex: 1; margin-left: 10px;">
                    <h2>Prueba de Mensaje Resultante</h2>
                    <textarea id="prueba_mensaje_resultante" name="prueba_mensaje_resultante" rows="20" cols="50"></textarea>
                </div>
            </div>
            <input type="file" name="archivo_prueba" onchange="mostrarContenidoArchivoPrueba(event)">
            <button type="submit">Cargar Prueba</button>
        </form>
    </div>

    <div class="form-container">
        <h2>Mostrar Mensajes por Rango de Fechas</h2>
        <form class="centered-form" method="post" id="rango-fechas-form">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 10px;">
                    <h2>Fecha Inicio</h2>
                    <input type="text" id="fecha_inicio" name="fecha_inicio">
                </div>
                <div style="flex: 1; margin-left: 10px;">
                    <h2>Fecha Fin</h2>
                    <input type="text" id="fecha_fin" name="fecha_fin">
                </div>
            </div>
            <br>
            <button type="submit">Mostrar Mensajes por Rango</button>
        </form>
    </div>

    <div class="form-container">
        <form class="centered-form" method="post" id="resumen-clasificacion-form">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 10px;">
                    <h2>Fecha</h2>
                    <input type="text" id="fecha" name="fecha">
                </div>
                <div style="flex: 1; margin-left: 10px;">
                    <h2>Empresa</h2>
                    <input type="text" id="empresa" name="empresa" placeholder="Todas las empresas">
                </div>
            </div>
            <br>
            <button type="submit">Generar Resumen de Clasificación</button>
        </form>
    </div>
    
    <h2>Resumen de Datos:</h2><br>
    <div class="form-container">        
        <textarea id="datos_formateados">{{ datos_formateados }}</textarea>
    </div>

    <div class="form-container">
        <button onclick="generarPDF()">Generar PDF</button>
    </div>

    <script>
        function mostrarContenidoArchivo(event) {
            const archivo = event.target.files[0];
            const lector = new FileReader();
            lector.onload = function(e) {
                document.getElementById('archivo').value = e.target.result;
            };
            lector.readAsText(archivo);
        }

        function mostrarContenidoArchivoPrueba(event) {
            const archivo = event.target.files[0];
            const lector = new FileReader();
            lector.onload = function(e) {
                document.getElementById('prueba_mensaje').value = e.target.result;
            };
            lector.readAsText(archivo);
        }

        function cargarArchivoPrueba() {
            const formData = new FormData();
            formData.append('archivo_prueba', document.getElementById('prueba_mensaje').value);

            fetch('/prueba_mensaje/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Imprimir la respuesta en la consola
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('prueba_mensaje_resultante').value = data.archivo_resultante_prueba;
                    alert(data.message);
                }
            });
        }

        function limpiarTextareas() {
            document.getElementById('archivo').value = '';
            document.getElementById('archivo_resultante').value = '';
            document.getElementById('prueba_mensaje').value = '';
            document.getElementById('prueba_mensaje_resultante').value = '';
        }

        function limpiarDatos() {
            fetch('/limpiar_datos/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                limpiarTextareas();
            });
        }

        document.getElementById('cargar-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            formData.append('archivo', document.getElementById('archivo').value); // Añadir el contenido del textarea

            fetch('/cargar/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Imprimir la respuesta en la consola
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('archivo_resultante').value = data.archivo_resultante;
                    document.getElementById('datos_formateados').innerHTML = data.datos_formateados.replace(/\n/g, '<br>');
                    alert(data.message);
                }
            });
        });

        document.getElementById('prueba-mensaje-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            formData.append('archivo_prueba', document.getElementById('prueba_mensaje').value); // Añadir el contenido del textarea

            fetch('/prueba_mensaje/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log(data); // Imprimir la respuesta en la consola
                if (data.error) {
                    alert(data.error);
                } else {
                    document.getElementById('prueba_mensaje_resultante').value = data.archivo_resultante_prueba;
                    alert(data.message);
                }
            });
        });

        document.getElementById('rango-fechas-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            formData.append('fecha_inicio', document.getElementById('fecha_inicio').value);
            formData.append('fecha_fin', document.getElementById('fecha_fin').value);

            fetch('/mostrar_mensajes_por_rango/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'Resumen_Mensajes_Rango.pdf';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Error al generar el PDF:', error));
        });

        document.getElementById('resumen-clasificacion-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            formData.append('fecha', document.getElementById('fecha').value);
            formData.append('empresa', document.getElementById('empresa').value);

            fetch('/resumen_clasificacion_por_fecha/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.message);
                } else {
                    document.getElementById('mensaje').innerHTML = data.message;
                }
            })
            .catch(error => console.error('Error al generar el resumen:', error));
        });

        function generarPDF() {
            fetch('/generar_pdf/', {
                method: 'GET',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'Resumen_Detallado.pdf';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => console.error('Error al generar el PDF:', error));
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

</body>
</html>