<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Proyecto 3{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Proyecto 3</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('cargar_archivo') }}">Cargar Archivo</a></li>
                <li><a href="{{ url_for('lista_archivos') }}">Lista de Archivos</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Mi Proyecto</p>
    </footer>
</body>
</html>