<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesamiento de XML</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script>
        function mostrarContenidoArchivo(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('archivo_original').value = e.target.result;
                    document.getElementById('archivo_resultante').value = '';
                };
                reader.readAsText(file);
            }
        }

        function limpiarTextareas() {
            document.getElementById('archivo_original').value = '';
            document.getElementById('archivo_resultante').value = '';
        }
    </script>
</head>
<body>
    <header class="header">
        <div class="logo">
            
        </div>
        <nav>
           <ul class="nav-links">
                <li><a onclick="limpiarTextareas()">Limpiar Textareas</a></li>
                <li><a onclick="location.href='{{ url_for('limpiar_datos') }}'">Limpiar Datos (Reset)</a></li>
                <li><a href="/lista">Peticiones</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Ayuda ▾</a>
                    <div class="dropdown-content">
                        <a href="#">Documentación</a>
                        <a href="#">Acerca de...</a>
                    </div>
                </li>
           </ul>            
        </nav>
        <a class="btn" href="#"><button>a</button></a>
    </header>

    <div class="form-container">
        <form class="centered-form" method="post" enctype="multipart/form-data" action="{{ url_for('cargar_archivo') }}">
            <div style="display: flex;">
                <div style="flex: 1; margin-right: 10px;">
                    <h2>Archivo Original</h2>
                    <textarea id="archivo_original" name="archivo_original" rows="20" cols="50">{{ archivo_original }}</textarea>
                </div>
                <div style="flex: 1; margin-left: 10px;">
                    <h2>Archivo Resultante</h2>
                    <textarea id="archivo_resultante" name="archivo_resultante" rows="20" cols="50">{{ archivo_resultante }}</textarea>
                </div>
            </div>
            <input type="file" name="file" onchange="mostrarContenidoArchivo(event)">
            <button type="submit">Cargar</button>
        </form>
    </div>
</body>
</html>