<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empresas y Servicios</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <!-- Logo content -->
        </div>
        <nav>
           <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/lista">Lista</a></li>
                <li class="dropdown">
                    <a class="dropbtn">Ayuda ▾</a>
                    <div class="dropdown-content">
                        <a href="#">Documentación</a>
                        <a href="#">Acerca de...</a>
                    </div>
                </li>
           </ul>            
        </nav>
    </header>

    <h1>Datos Formateados</h1>
    <pre>{{ datos_formateados }}</pre>    
</body>
</html>