<!DOCTYPE html>
<html>
<head>
    <title>Vista Auxiliar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Seleccionar Archivo XML</a></li>
            <li><a href="{{ url_for('lista') }}">Vista Auxiliar</a></li>
            <li><a href="https://link-de-ayuda.com">Ayuda</a></li>
        </ul>
    </nav>
    <h1>Vista Auxiliar</h1>
    <!-- Contenido de la vista auxiliar -->
</body>
</html>